<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<body>
<div class = "background-1">

    <div class="carousel-container">
        <ul class="carousel">
            <li class="carousel-item active"><img src="https://www.cnet.com/a/img/resize/975719fbb4242f346c0db05e044608b2dcf7cddc/hub/2022/09/13/fc6f151c-93b1-471c-97ea-a76c44e30235/switch-tloz-totk-artwork-01.jpg?auto=webp&fit=crop&height=675&width=1200" alt="Washington, D.C."></li>
        </ul>
    </div>

        <div class="box1">
            <h3> Welcome to The Culinary Kingdom! </h3>
            <p class = "intro">
                In 2023, Nintendo released <em>"The Legend of Zelda: Tears of the Kingdom,"</em> an action-adventure game for the Nintendo Switch. It is a sequel to <em>"The Legend of Zelda: Breath of the Wild."</em> The game maintains the open-world gameplay of its predecessor and introduces new areas, the sky and the Depths. Players can utilize various devices for combat and exploration. Immersing players in the culinary delights of the game, a significant gameplay element revolves around cooking and discovering recipes. 
            </p>
            <p class = "inspo"> This inspired the inception of a dedicated website aimed at bringing these virtual recipes to life, allowing enthusiasts to savor the essence of the game both within and beyond the digital realm. The Culinary Kingdom is featured recipes in the game that people can purchase to bring the virtual world of Tears of the Kingdom to real life. 
            </p>
            <div class = "browseButton">
                <a href = "/items">Start Browsing → </a>
            </div>
        </div>
</div> <!-- end of background -->

</body>
</html>
<%- include('./partials/footer.ejs')%>