<%- include('../partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/login.css">



<div>
    <% if ((errorMessages && errorMessages.length > 0) || (successMessages && successMessages.length > 0)) { %>
        <div>
            <% if (errorMessages && errorMessages.length > 0) { %>
                <div class="container-2">
                    <% errorMessages.forEach(message => { %>
                        <%= message %><br>
                    <% }); %>
                </div>
            <% } %>
            <% if (successMessages && successMessages.length > 0) { %>
                <div class="container-3">
                    <% successMessages.forEach(message => { %>
                        <%= message %><br>
                    <% }); %>
                </div>
            <% } %>
        </div>
    <% } %>
</div>

<div class="background-login">
    <div class="container">
        <form action = '/users/login' method = 'POST' class="user-form">
            <label for="email">Email Address</label></td>
            <input type="email" id="email" name="email" required></td>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">     
        </form>
    </div>
</div>



<%- include('../partials/footer.ejs')%>